<div>
  <img src='/assets/QQAvatar.jpg' alt='Headshot of Kino' />
  <p>
    Hi, I'm <strong>Kino</strong>, a software engineer dedicated to building
    clean, scalable, and user-centric applications. I find joy in translating
    complex problems into elegant lines of code.I believe that good software
    isn't just about functionality—it's about creating something that feels
    right.Currently, I'm focused on exploring the synergy between modern web
    architectures and seamless user experiences, and keep on learning. When I'm
    not pushing commits to <a
      href='https://github.com/kino14910'
      target='_blank'>GitHub</a
    >, you can find me here sharing my insights on development and the
    ever-evolving tech landscape.
  </br>
</div>

<style>
  div {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  img {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    display: block;
  }

  p {
    font-size: 1.125rem;
    background: color-mix(in srgb, var(--background), transparent 50%);
  }
</style>
