---
import Logo from './Logo.astro'
import Nav from './Nav.astro'
---

<script>
  function handleHeaderScroll() {
    const header = document.querySelector('header')
    if (header) {
      if (window.scrollY > 50) {
        header.classList.add('scrolled')
      } else {
        header.classList.remove('scrolled')
      }
    }
  }

  window.addEventListener('scroll', handleHeaderScroll, { passive: true })

  document.addEventListener('astro:page-load', () => {
    handleHeaderScroll()
  })
</script>

<div class='header-placeholder'></div>
<header>
  <div class='logo'>
    <Logo />
  </div>
  <Nav />
</header>

<style>
  .header-placeholder {
    height: calc(4em + 75px);
  }

  header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    margin: 0 auto;
    max-width: 1400px;
    padding: 2em;
    width: 100%;
    transition: all 0.3s ease;
    z-index: 99;
    /* min-height: 80px; */
  }

  header.scrolled {
    padding: 0;
    background: var(--bg-color);
    max-width: 100%;
    padding: 0 10%;
  }

  /* .logo {
    transition:
      opacity 0.3s ease,
      transform 0.3s ease;
  } */

  /* header.scrolled .logo {
    opacity: 0;
    transform: translateX(-20px);
    pointer-events: none;
  } */

  @media screen and (max-width: 520px) {
    .header-placeholder {
      height: calc(4em + 75px);
    }

    header {
      padding: 2em 0;
    }

    header.scrolled {
      padding: 0;
    }
  }
</style>
