---
import Footer from '@/components/Footer.astro'
import Head from '@/components/Head.astro'
import Header from '@/components/Header.astro'
import Loader from '@/components/Loader.svelte'
import ScrollBar from '@/components/ScrollBar.svelte'
import 'lenis/dist/lenis.css'

export interface Props {
  title: string
  description: string
}
const { title, description } = Astro.props
---

<html lang='en'>
  <head>
    <Head title={title} description={description} />
  </head>
  <body>
    <div class='layout'>
      <div transition:persist='loader'>
        <Loader client:load />
      </div>
      <ScrollBar client:only />
      <Header />
      <slot />
      <Footer />
    </div>
  </body>
</html>
