---
import Footer from '@/components/Footer.astro'
import Head from '@/components/Head.astro'
import Header from '@/components/Header.astro'
import ScrollBar from '@/components/ScrollBar.svelte'
import 'lenis/dist/lenis.css'

export interface Props {
  title: string
  description: string
}
const { title, description } = Astro.props
---

<html lang='en'>
  <head>
    <Head title={title} description={description} />
  </head>
  <body>
    <ScrollBar client:only />
    <Header />
    <slot />
    <Footer />
  </body>
</html>

<style>
  .layout {
    display: flex;
    flex-direction: column;
    min-height: min-content;
    position: relative;
  }
</style>
